<!-- app-todo-list.component.html -->
<main id="main" class="main">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Data dari endpoint</h2>
        <button class="btn btn-primary float-end" (click)="toggleInput()">
          Add Data
        </button>
      </div>

      <div *ngIf="showInput">
        <label for="title">Title</label>
        <input
          #titleInput
          class="form-control"
          placeholder="Masukkan Title"
          (keyup.enter)="addData()"
        />
        <div *ngIf="titleError" class="text-danger">{{ titleError }}</div>

        <label for="body">Body</label>
        <input
          #bodyInput
          class="form-control"
          placeholder="Masukkan Body"
          (keyup.enter)="addData()"
        />
        <div *ngIf="bodyError" class="text-danger">{{ bodyError }}</div>

        <button class="btn btn-success mt-2" (click)="submitData()">
          Submit Data
        </button>
      </div>

      <div
        *ngIf="loading; else loadedContent"
        class="spinner-border"
        role="status"
      >
        <span class="visually-hidden">Loading...</span>
      </div>

      <ng-template class="mt-4" #loadedContent>
        <table class="table mt-4">
          <!-- Added margin-top class -->
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Body</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of datas">
              <td>{{ data.id }}</td>
              <td>{{ data.title }}</td>
              <td>{{ data.body }}</td>
              <td class="text-nowrap">
                <button
                  class="btn btn-warning btn-sm me-2"
                  (click)="openUpdateModal(data.id)"
                >
                  <i class="bi bi-pencil"></i>
                </button>
                <button
                  class="btn btn-danger btn-sm"
                  (click)="deleteTodo(data.id)"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="post">
              <td>{{ post.id }}</td>
              <td>{{ post.title }}</td>
              <td>{{ post.body }}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
      <ng-template #modalUpdate let-modal>
        
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Data update</h4>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="updateTitle">Title</label>
            <input
              id="updateTitle"
              name="updateTitle"
              class="form-control mb-3"
              [(ngModel)]="updatedPost.title"
            />
            <div *ngIf="titleError" class="text-danger">{{ titleError }}</div>
            <label for="updateBody">Body</label>
            <input
              id="updateBody"
              name="updateBody"
              class="form-control"
              [(ngModel)]="updatedPost.body"
            />
            <div *ngIf="bodyError" class="text-danger">{{ bodyError }}</div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="submitDataUpdate(modal)"
          >
            Save
          </button>
        </div>
        
      </ng-template>
    </div>
  </div>
</main>
