<main id="main" class="main">
  <div class="pagetitle">
    <h1>Overview</h1>
  </div>
  <!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">
        <div class="card">
          <div
            class="card-body profile-card pt-4 d-flex flex-column align-items-center"
          >
            <img
              src="https://media.licdn.com/dms/image/D5603AQGbPGmsdkE4lQ/profile-displayphoto-shrink_800_800/0/1691499633114?e=1707955200&v=beta&t=N9bNVQkY-geZU7UwiheBQuk4FmfYJ3TwbM2n7DV2ZN8"
              alt="Profile"
              class="rounded-circle"
            />
            <h2>Bagus Pahlefi</h2>
            <h3>Frontend Developer</h3>
            <div class="social-links mt-2">
              <a
                href="https://www.instagram.com/good_pahlefi/"
                class="instagram"
                ><i class="bi bi-instagram"></i
              ></a>
              <a
                href="https://www.linkedin.com/in/bagus-pahlefi/"
                class="linkedin"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-8">
        <div class="card">
          <div class="card-body pt-3">
            <div class="tab-content pt-2">
              <div
                class="tab-pane fade show active profile-overview"
                id="profile-overview"
              >
                <h5 class="card-title">About</h5>
                <p class="small fst-italic">
                  I graduated from D3 application software engineering, I am
                  currently continuing an extension at the undergraduate level
                  of informatics engineering at Binus University. I am delighted
                  to explore the world of programming, specifically web
                  programming. I have good soft skills, such as the ability to
                  adapt easily and enthusiasm for new things. Now I'm seeking a
                  challenging position in a dynamic organization where I can
                  utilize my skills and contribute to the success of web
                  development projects.
                </p>

                <h5 class="card-title">Profile Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Full Name</div>
                  <div class="col-lg-9 col-md-8">Bagus Pahlefi</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Country</div>
                  <div class="col-lg-9 col-md-8">Indonesia</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Address</div>
                  <div class="col-lg-9 col-md-8">
                    Perumahan Pilar Baru Kec.Geneng Kab.Ngawi
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8">+62 856 0853 7600</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">
                    baguspahlefi2000@gmail.com
                  </div>
                </div>
              </div>
            </div>
            <!-- End Bordered Tabs -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->


