<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/chart-list">
        <i class="bi bi-pie-chart"></i>
        <span>Chart</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/crud">
        <i class="bi bi-database"></i>
        <span>Crud</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->
  </ul>
</aside>
<!-- End Sidebar-->
